{
  "singleQuote": true,
  "endOfLine": "crlf",
  "plugins": ["./node_modules/prettier-plugin-organize-imports/index.js"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
